services:

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    ports:
      - "5672:5672"   # AMQP protocol
      - "15672:15672" # Management UI
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 10s
      retries: 5

  obvestila:
    ports:
      - "8080:8080"
    restart: always
    build: .
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      - LOG_LEVEL=DEBUG
      - TZ=
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - RESEND_API_KEY=${RESEND_API_KEY}
      - RESEND_FROM_EMAIL=noreply@yourdomain.com
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/healthcheck"]
      interval: 3s
      timeout: 10s
      retries: 5

volumes:
  rabbitmq-data:
